:root {
    --cor-de-fundo: #f8ccccb4;
    --texto: #000000;
}
.img-zendaya{
    width: 20%;
}


body {
    background-color: var(--cor-de-fundo);
    color: var(--texto)
    /* comentárioss */
}

.intro{ 
    display: flex;
}